.favourite-box {
  box-shadow: 0px 0px 2px 2px #cccccc;
  display: flex;
  margin-bottom: 8px;
  border-radius: 1ch;
  position: relative;
}

.favourite-box:hover {
  border: 2px solid #aaa;
}
.popper {
  position: absolute;
  top: 2%;
  right: 0;
}
.content {
  min-height: calc(100vh - 40vh);
}
